@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: verdana, geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Passion One', cursive;
} 


*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body,html{
    
    margin: 0;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    text-align: center;
}

header h1{
    color: white;
    margin: 0;
    padding-top: 50px;
    font-family: var(--fonte3);
    font-variant: small-caps;
    font-size: 8vw;
}

header p{
    color: white;
   
    padding-bottom: 50px;
    
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder ;
}

a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
    font-size: 2vw;
}

section.imagem{
    background-color: rgb(77, 77, 77);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.356);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block; 
    padding: 5px;
    text-shadow: 1px 1px 0 black;
}

#img01{
    background-image: url('imagens/background001.jpg');

}

#img02{
    background-image: url('imagens/background002.jpg');
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}